/* Space-themed styling */
body {
    background-color: #020816; /* Dark blue background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
}

.flex-container {
    /* max-width: 400px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white container */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lhs {
    flex: 1;
    margin-right: 20px;
    background-color: #222f35;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rhs {
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white container */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Default styling for rhs box */
.default-style {
    background-color: #1f1f2f; /* Darker background color */
    border: 1px solid #ffffff; /* White border */
}

.mercury-style {
    background-color: #2f0c0c;
}

.venus-style {
    background-color: #2a2f0c; 
}

.earth-style {
    background-color: #0d2f0c; 
}

.mars-style {
    background-color: #0c2a2f; 
}

.jupiter-style {
    background-color: #0c0f2f; 
}

.saturn-style {
    background-color: #270c2f; 
}

.uranus-style {
    background-color: #2f0c2d; 
}

.neptune-style {
    background-color: #2f0c18; 
}

.moon-style {
    background-color: #2f0c0c; 
}

/* Add more planet-specific styles as needed */

h5 {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    background-color: #0c0c1f; /* Dark blue select background */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#temperature {
    font-weight: bold;
    font-size: 24px;
}

#atmosphere {
    font-style: italic;
}

#planetImageContainer img {
    width: auto;
    height: 50px; /* Adjust the height as needed */
}