/* Space-themed styling */
body {
    background-color: #020816; /* Dark blue background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
}

.flex-container {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white container */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.landing-container {
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lhs {
    flex: 1;
    margin-right: 20px;
    background-color: #222f35;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rhs {
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body.landing-background {
    background-image: url('./backgrounds/photorealistic-galaxy-background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensures the background covers the entire viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.mercury-style {
/*     background-color: #2f0c0c; */
    background-color: #222f35dc;
    border: solid #7c3023;
    color: #fdb620;
}

.venus-style {
/*     background-color: #2f0c0c; */
    background-color: #222f35dc;
    border: solid #7f6157;
    color: #ac958d;
}

.earth-style {
    background-color: #222f35dc;
    border: solid #1c84a1;
    color: #b1e15a;
}

.mars-style {
    background-color: #222f35dc;
    border: solid #8a563e;
    color: #fc4b22;
}

.jupiter-style {
    background-color: #222f35dc;
    border: solid #d9964f;
    color: #bdddf4;
}

.saturn-style {
    background-color: #222f35dc;
    border: solid #ddba7a;
    color: #c5c1a4;
}

.uranus-style {
    background-color: #222f35dc;
    border: solid #319a95;
    color: #5fd4dd;
}

.neptune-style {
    background-color: #222f35dc;
    border: solid #025da3;
    color: #30e2fe;
}

.moon-style {
    background-color: #222f35dc;
    border: solid #d8d8d8;
    color: #ffffff;
}

h5 {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    background-color: #0c0c1f; /* Dark blue select background */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#atmosphere {
    font-style: italic;
}
#temperature {
    font-style: italic;
}
#planetGravity {
    font-style: italic;
}
#planetDayLength {
    font-style: italic;
}
#planetLandscape {
    font-style: italic;
}
#planetSeason {
    font-style: italic;
}

#planetImageContainer img {
    width: auto;
    height: 50px; /* Adjust the height as needed */
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}