/* Space-themed styling */
body {
    background-color: #0c0c1f; /* Dark blue background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
}

.flex-container {
    /* max-width: 400px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white container */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lhs {
    flex: 1;
    margin-right: 20px;
    background-color: #222f35;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rhs {
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white container */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h5 {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    background-color: #0c0c1f; /* Dark blue select background */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#temperature {
    font-weight: bold;
    font-size: 24px;
}

#atmosphere {
    font-style: italic;
}

#planetImageContainer img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
}